@page "/Account/Logout"

@using Microsoft.AspNetCore.Identity
@using Fhirlabs.Ehr.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Logout</PageTitle>

<h1>Logout</h1>
@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    

    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        RedirectManager.RedirectTo("/");
    }
}
